@import url("./searchbar.css");

/** Definir cores */
:root {
    --page-background: #E3EBF3;
    --search-bar-background: white;
    --caption-color: #698096;
    --primary-color: #0080FF;
    --text-color: #00264D;
    --black-text-color: #000000;
    --caption-color: #698096;
    --light-gray: #E3EBF3;
    --red: #FF0000;
}


body {
    background-color: var(--page-background);
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 93vh;
}

.heading-text {
    font-family: Poppins;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
}

.text-primary-color {
    color: var(--primary-color);
}

.text-color {
    color: var(--text-color);
}

.caption-color {
    color: var(--caption-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;
}

.white-header {
    background: white;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.09);
    margin-bottom: 26px;
}

.header a.logo {
    color: var(--text-color);
    text-decoration: none;
    margin-left: 59px;

    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: right;
}

.header .buttons {
    color: var(--caption-color);
    margin-right: 74px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;

    display: flex;
    flex-direction: row;
    gap: 18px;
}

.header .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    
    color: var(--caption-color);
    text-decoration: none;
}

.header .button img {
    height: 12px;
    width: 12px;
}

.bold-text {
    font-weight: bold;
}

.footer {
    height: 66px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    margin-top: 26px;

    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

/* usado para manter o footer no fundo da página */
.wrapper {
    min-height: 100%;
    /*
    display: grid;
    grid-template-rows: auto 1fr auto;
    */
}