@import url("/res/css/searchbar.css");

/** Definir cores */
:root {
    --page-background: #E3EBF3;
    --search-bar-background: white;
    --caption-color: #698096;
    --primary-color: #0080FF;
    --text-color: #00264D;
    --black-text-color: #000000;
}


body {
    background-color: var(--page-background);
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.heading-text {
    font-family: Poppins;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
}

.text-primary-color {
    color: var(--primary-color);
}

.text-color {
    color: var(--text-color);
}